@import "tailwindcss";
@config "../tailwind.config.js";


html, body, #root {
    width: 100%;
    height: 100%;
}


@layer base {
    :root {
        --font-sans: "DM Sans", sans-serif;
        --font-body: "Inter", sans-serif;

        /* Couleurs propres et simples */
        --color-primary: 258 100% 86%;
        --color-primary-foreground: 0 0% 0%;
        --color-background: 240 6% 10%;
        --color-foreground: 0 0% 90%;
        --color-border: 0 0% 20%;
        --color-card: 0 0% 12%;
        --color-muted: 0 0% 18%;
    }

    * {
        @apply border-border;
    }

    html, body {
        @apply bg-background text-foreground font-body;
    }
}
